.horizontal_parallax {
	background-color: var(--bg-beige);
	position: relative;
	height: 100%;
	display: flex;
	flex: 1 1 auto;
	align-items: start;
	justify-content: start;
}

.parallax__cards {
	display: flex;
	flex-direction: row;

	width: 100%;
	transform: translate3d(0, 0, 0);
	flex-wrap: nowrap;

}

.parallax__cards::-webkit-scrollbar {
	display: none;
}

.parallax__cards :global(.swiper-wrapper) {
	width: 100%;
}

.controls__wrapper {
	display: flex;
	flex-direction: row;
	align-items: end;
	column-gap: 24px;
	width: 100%;
}

.buttons__content {
	display: flex;
	position: relative;
	z-index: 2;
	justify-content: end;
	column-gap: 10px;

}


.infra__prev,
.infra__next {
	width: 60px;
	height: 60px;
	display: flex;
	mix-blend-mode: difference;
	position: relative;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
	cursor: pointer;
	overflow: hidden;
	border: 1px solid var(--acc-main-green);
}

.infra__prev svg,
.infra__next svg {
	position: relative;
	z-index: 3;
}


.infra__prev {
	background-color: transparent;


}

.infra__prev svg path {

	stroke: var(--acc-main-green);

}

.infra__next {
	background-color: var(--acc-main-green);
}


.infra__prev::after,
.infra__next::after {
	content: "";
	display: block;
	position: absolute;
	z-index: 1;
	width: 0;
	height: 0;
	top: 50%;
	left: 50%;
	border-radius: 100%;
	background-color: var(--bg-beige);
	transform: translate(-50%, -50%);
	transition: width .2s ease, height .2s ease;
}

.infra__prev::after {
	background-color: var(--acc-main-green);
}

.infra__prev::after,
.infra__next::after {
	content: "";
	display: block;
	position: absolute;
	z-index: 1;
	width: 0;
	height: 0;
	top: 50%;
	left: 50%;
	border-radius: 100%;
	background-color: var(--bg-beige);
	transform: translate(-50%, -50%);
	transition: width .2s ease, height .2s ease;
}

.infra__prev::after {
	background-color: var(--acc-main-green);
}



.cursorPreview {
	position: fixed;
	top: 0;
	left: 0;
	width: 244px;
	height: 234px;
	pointer-events: none;
	transform: translate(-50%, -50%);
	background-size: cover;
	background-position: center;
	z-index: 10;
	transition: opacity 0.3s ease;
	opacity: 0;
}

.parallax__card,
.parallax__card_preview {
	flex: 1 1 490px;
	max-width: 490px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	row-gap: 30px;
}

.parallax__card_preview {
	align-self: end;
	padding: 60px 50px 50px 50px;
	min-height: 600px;
	justify-content: end;
	border-left: 1px solid #D9D9D9;
}

.parallax__card_preview p {
	max-width: 100%;
	font-size: 20px;
	color: var(--acc-main-green);
	font-weight: 500;
}

.parallax__card {
	padding: 60px 30px 50px 30px;
	justify-content: start;
	align-items: start;
}

.parallax__card,
.parallax__card_preview {
	border-top: 1px solid #D9D9D9;
	border-right: 1px solid #D9D9D9;
	border-bottom: 1px solid #D9D9D9;
}

.parallax__card img {
	width: 254px;
	height: 310px;
}

.card__index,
.card__name {
	width: 100%;
	font-size: 28px;
	font-weight: 500;
	line-height: 100%;
}

.card__name {
	align-self: end;
}

@media(max-width: 1000px) {
	.parallax__cards {
		flex-direction: column;
		width: 100%;
	}

	.parallax__card {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.parallax__card:not(:last-child) {
		border-bottom: none;
	}

	.card__name {
		align-self: center;
	}

	.parallax__card {
		padding: 20px;
		row-gap: 20px;
	}

	.parallax__card_img img {
		margin-right: 0;
	}

	.parallax__card_img {
		max-height: 0;
		overflow: hidden;
		width: 53%;
		display: flex;
		align-items: center;
		justify-content: start;
		margin-right: 0;
		transition: max-height 0.5s ease, opacity 0.3s ease;
	}

	.card__index {
		display: flex;
		align-items: center;
		justify-content: start;
	}

	.plus_icon.open::after {
		transform: rotate(90deg);
	}

	.parallax__card_img.open {
		max-height: 300px;
	}


	.parallax__card_content {
		flex: 1 1 100%;
		display: flex;
		justify-content: space-between;
		width: 100%;
	}


	.parallax_text {
		max-width: 300px;
		padding: 30px 20px;
	}

	.card__index {
		flex: 1 1 32.2%;
	}

	.horizontal_parallax {
		height: 100%;
	}
}

@media((min-width: 2520px) and (max-width: 3600px)) {



	.parallax_text {
		flex: 1 1 100%;
		height: auto;
		max-width: 428px;
		padding: 60px 30px 50px;
	}

	.parallax__card {
		flex: 0 0 490px;
		row-gap: 24px;
	}

	.card__name {
		width: 100%;
	}

	.parallax__card_content {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
	}

	.card__index {
		flex: 1 1 50px;
	}

	.parallax__card img {
		margin-right: 0;
	}

	.parallax__card:first-child {
		border-left: 1px solid #D9D9D9;
	}
}

@media(max-width: 1920px) {

	.plus__icon_block {
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 100%;
		border: 1px solid #5A6C54;
		padding: 12px;
	}

	.plus_icon {
		position: relative;
		display: inline-block;
		width: 14px;
		height: 14px;
		background: transparent;
		cursor: pointer;
		flex: 0 0 14px;
	}

	.plus_icon::before,
	.plus_icon::after {
		content: "";
		position: absolute;
		background-color: #5A6C54;
		transition: all 0.3s ease;
	}

	.plus_icon::before {
		top: 50%;
		left: 0;
		width: 100%;
		height: 2px;
		transform: translateY(-50%);
	}

	.plus_icon::after {
		left: 50%;
		top: 0;
		width: 2px;
		height: 100%;
		transform: translateX(-50%);
	}

}

@media((min-width: 1440px) and (max-width:1920px)) {
	.card__name {
		font-size: clamp(1.625rem, 1.25rem + 0.417vi, 1.75rem);
	}

	.parallax__card_preview p {
		font-size: clamp(1.125rem, 0.75rem + 0.417vi, 1.25rem);
	}
}

@media((min-width: 1024px) and (max-width:1440px)) {
	.card__index {
		font-size: clamp(1.375rem, 0.455rem + 1.439vi, 1.75rem);
	}

	.card__name {
		font-size: clamp(1.375rem, 0.608rem + 1.199vi, 1.688rem)
	}

	.parallax__card_preview p {
		font-size: clamp(1rem, 0.692rem + 0.481vi, 1.125rem);
	}
}

@media(max-width: 1024px) {
	.card__name {
		font-size: 22px;
	}

	.parallax__card_preview p {
		font-size: clamp(0.875rem, 0.5rem + 0.781vi, 1rem);
	}
}

@media((min-width: 768px) and (max-width:1024px)) {
	.card__index {
		font-size: clamp(1.125rem, 0.372rem + 1.569vi, 1.375rem);
	}
}

@media(max-width: 768px) {
	.card__index {
		font-size: 22px;
	}

	.parallax__card {
		row-gap: 0px;
	}

	.parallax__card_img.open {
		padding-bottom: 20px;
	}

	.parallax__card_img {
		width: 100%;
		justify-content: center;
		position: relative;
		top: 20px;
	}
}

@media (hover: hover) {
	.infra__next:hover svg path {
		stroke: black;
	}

	.infra__prev:hover svg path {
		stroke: white;
	}

	.infra__prev:hover::after,
	.infra__next:hover::after {
		width: 100%;
		height: 100%;
		transition: width .2s ease, height .2s ease;
	}
}