.horizontal_parallax {
	background-color: var(--bg-beige);
	position: relative;
	height: 265vh;
	overflow: hidden;
}

.parallax__cards {
	display: flex;
	flex-direction: row;

	width: fit-content;
	transform: translate3d(0, 0, 0);
	flex-wrap: nowrap;

}

.parallax__cards::-webkit-scrollbar {
	display: none;
}
.cursorPreview {
	position: fixed;
	top: 0;
	left: 0;
	width: 244px;
	height: 234px;
	pointer-events: none;
	transform: translate(-50%, -50%);
	background-size: cover;
	background-position: center;
	z-index: 10;
	transition: opacity 0.3s ease;
	opacity: 0;
}

.parallax__card,
.parallax__card_preview {
	flex: 0 0 428px;

	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
}

.parallax__card_preview {
	align-self: end;
	padding: 60px 50px 50px 50px;
	min-height: 600px;
	justify-content: end;
}

.parallax__card_preview p {
	max-width: 268px;
	color: var(--acc-main-green);
	font-weight: 500;
}

.parallax__card {
	padding: 60px 30px 50px 30px;
}

.parallax__card,
.parallax__card_preview {
	border-top: 1px solid #D9D9D9;
	border-right: 1px solid #D9D9D9;
	border-bottom: 1px solid #D9D9D9;
}

.parallax__card img {
	width: 254px;
	margin-right: 55px;
	height: 260px;
}

.card__index,
.card__name {
	width: 100%;
	font-size: 28px;
	font-weight: 500;
	line-height: 100%;
}

.card__name {
	align-self: end;
}

@media(max-width: 1000px) {
	.parallax__cards {
		flex-direction: column;
		width: 100%;
	}

	.parallax__card {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.parallax__card:not(:last-child) {
		border-bottom: none;
	}

	.card__name {
		align-self: center;
	}

	.parallax__card {
		padding: 20px;
		row-gap: 20px;
	}

	.parallax__card_img img {
		margin-right: 0;
	}

	.parallax__card_img {
		max-height: 0;
		overflow: hidden;
		width: 53%;
		display: flex;
		align-items: center;
		justify-content: start;
		margin-right: 0;
		transition: max-height 0.5s ease, opacity 0.3s ease;
	}

	.card__index {
		display: flex;
		align-items: center;
		justify-content: start;
	}

	.plus_icon.open::after {
		transform: rotate(90deg);
	}

	.parallax__card_img.open {
		max-height: 300px;
	}


	.parallax__card_content {
		flex: 1 1 100%;
		display: flex;
		justify-content: space-between;
		width: 100%;
	}


	.parallax_text {
		max-width: 300px;
		padding: 30px 20px;
	}

	.card__index {
		flex: 1 1 32.2%;
	}

	.horizontal_parallax {
		height: 100%;
	}
}

.plus__icon_block {
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
	border: 1px solid #5A6C54;
	padding: 12px;
}

.plus_icon {
	position: relative;
	display: inline-block;
	width: 14px;
	height: 14px;
	background: transparent;
	cursor: pointer;
	flex: 0 0 14px;
}

.plus_icon::before,
.plus_icon::after {
	content: "";
	position: absolute;
	background-color: #5A6C54;
	transition: all 0.3s ease;
}

.plus_icon::before {
	top: 50%;
	left: 0;
	width: 100%;
	height: 2px;
	transform: translateY(-50%);
}

.plus_icon::after {
	left: 50%;
	top: 0;
	width: 2px;
	height: 100%;
	transform: translateX(-50%);
}

@media((min-width: 1440px) and (max-width:1920px)) {
	.card__name {
		font-size: clamp(1.625rem, 1.25rem + 0.417vi, 1.75rem);
	}
}

@media((min-width: 1024px) and (max-width:1440px)) {
	.card__index {
		font-size: clamp(1.375rem, 0.455rem + 1.439vi, 1.75rem);
	}

	.card__name {
		font-size: clamp(1.375rem, 0.608rem + 1.199vi, 1.688rem)
	}
}

@media(max-width: 1024px) {
	.card__name {
		font-size: 22px;
	}

}

@media((min-width: 768px) and (max-width:1024px)) {
	.card__index {
		font-size: clamp(1.125rem, 0.372rem + 1.569vi, 1.375rem);
	}
}

@media(max-width: 768px) {
	.card__index {
		font-size: 22px;
	}

	.parallax__card_img {
		width: 100%;
		justify-content: center;
	}
}