.parallax__cards {
	display: flex;
	flex-direction: row;
	min-height: 600px;
	overflow-x: scroll;
}
.parallax__cards::-webkit-scrollbar{
	display: none;
}
.parallax__card,
.parallax__card_preview {
	flex: 0 0 428px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
}

.parallax__card_preview {
	align-self: end;
	padding: 60px 50px 50px 50px;
	min-height: 600px;
	justify-content: end;
}

.parallax__card_preview p {
	max-width: 268px;
}

.parallax__card {
	padding: 60px 30px 50px 30px;
}

.parallax__card,
.parallax__card_preview {
	border-right: 1px solid #D9D9D9;
	border-bottom: 1px solid #D9D9D9;
}

.parallax__card img {
	width: 254px;
	margin-right: 55px;
	height: 260px;
}

.parallax__card p {
	width: 100%;
	font-size: 28px;
	font-weight: 500;
	line-height: 100%;
}

.card__name {
	align-self: end;
}