.steps {
	height: 345vh;
	background-color: var(--bg-beige);
	padding-bottom: 158px;
	width: 100%;
	position: relative;
}

.pin_wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-direction: column-reverse;

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.steps__title_block {
	height: 100%;
	display: flex;
	align-items: start;
	position: absolute;
	top: 30vh;
	left: 0;
	justify-content: center;
	margin: 0 auto;
	max-inline-size: 1052px;
	max-width: 100%;
	width: 100%;
	z-index: 1;
}

.steps__body {
	display: flex;
	flex-direction: column;
	row-gap: 75px;
}

.steps__title {
	text-transform: uppercase;
	text-align: center;
	font-size: 90px;
	font-weight: 500;
	line-height: 100%;
	color: var(--acc-main-green);
	max-width: 65vw;
}

@media(max-width: 1920px) {
	.steps__title {
		font-size: clamp(1.75rem, 0.665rem + 4.133vi, 5.625rem);
	}
}

.card__name {
	font-size: 46px;
	line-height: 105%;
	font-weight: 500;
	width: 100%;
	max-width: 377px;
	text-align: left;
	transition: font-size 1s ease;
}

.steps__cards_wrapper {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: end;
	row-gap: 75px;
	z-index: 2;
}

.steps__cards {
	position: relative;
	z-index: 2;
	display: flex;
	flex-direction: column;
	row-gap: 75px;
	justify-content: center;
	align-items: center;
}


.steps__card {
	overflow: hidden;
	flex: 1 1 520px;
	width: 100%;
	max-width: 600px;
	display: flex;
	flex-direction: column;
	background: rgba(39, 35, 30, 0.08);
	backdrop-filter: blur(30px);
	position: relative;
	cursor: pointer;
}

.steps__img {
	object-fit: cover;
	transform-origin: center center;
	width: 100vw;
	height: 100vh;
}

.img__wrapper {
	height: 150vh;
	width: 100vw;
	display: flex;
	align-items: start;
	justify-content: center;
	position: relative;
	z-index: 2;
}


.steps__card_front {
	display: flex;
	flex-direction: column;
	row-gap: 90px;
	padding: 50px;
	opacity: 1;
	transition: opacity 0.7s ease;
}

.card__index,
.card__count {
	line-height: 100%;
	font-weight: 500;
	color: #1C2F2480;
}

.card__btn {
	width: 100%;
	display: flex;
	justify-content: center;
	position: relative;
	z-index: 4;
	align-items: center;
}

.card__index {
	font-size: 90px;
}

.card__count {
	align-self: start;
	font-size: 20px;
}

.card__num {
	display: flex;
	align-items: start;
}

.steps__card__content {
	display: flex;
	flex-direction: column;
	padding: 50px;
	row-gap: 22px;
	position: absolute;
	top: 0%;
	z-index: 3;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 0.7s ease;
}

.card__content_title {
	font-size: 46px;
	font-weight: 600;
	color: #27231E;
	transition: font-size 1s ease;
	text-align: left;
}

.card__text_list {
	display: flex;
	flex-direction: column;
	row-gap: 14px;
	flex: 1 1 100%;
}

.card__text_item {
	font-weight: 500;
	line-height: 126%;
	text-align: left;
}

.card__content_block {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.card__content_block_name {
	font-size: 28px;
	font-weight: 500;
	line-height: 100%;
}



.card__content_num {
	font-size: 20px;
	font-weight: 400;
	color: #1C2F2480;
}

@media(max-width: 1920px) {
	.card__name {
		font-size: clamp(1.625rem, 1.38rem + 0.933vi, 2.5rem);
	}

	.card__content_title {
		font-size: clamp(1.625rem, 1.275rem + 1.333vi, 2.875rem);
	}

	.card__content_block_name {
		font-size: clamp(1rem, 0.839rem + 0.759vi, 1.75rem);
	}
}

@media((min-width: 768px) and (max-width: 1920px)) {}

@media(max-width: 1490px) {
	.card__text_item {
		font-size: clamp(0.875rem, 0.732rem + 0.298vi, 1rem);
	}
	.steps {
		height: 364vh;
	}
}

@media(max-width: 1200px) {
	.steps {
		height: 500vh;
	}
}

@media(max-width: 768px) {
	.steps {
		height: 100%;
	}

	.steps__img {
		width: 100%;
		height: 100%;
	}

	.img__wrapper {
		height: 100%;
		width: 100%;
	}

	.steps__card_front {
		row-gap: 70px;
	}

	.steps__title_block {
		position: static;
		top: 0;
	}

	.pin_wrapper {
		position: static;
	}

	.card__name {
		margin-bottom: 20px;
	}

	.steps__body {
		width: 100%;
	}

	.steps__card__content {
		padding: 30px;
	}

	.steps__card {
		flex: 1 1 100%;
		max-width: 100%;
	}

	.steps__title_block {
		padding: 0px 20px;
	}

	.pin_wrapper {
		display: flex;
		flex-direction: column-reverse;
		height: 100%;
		row-gap: 40px;
	}

	.steps__cards_wrapper {
		height: 100%;
		position: static;
		padding: 0px 20px;
		margin: 0 auto;
	}
}

.steps__card:hover .steps__card_front {
	opacity: 0;
	transition: opacity 0.7s ease;
}

.steps__card:hover .steps__card__content {
	transition: opacity 0.7s ease;
	opacity: 1;
}

.steps__card:hover .card__content_title {
	font-size: 24px;
	transition: font-size 1s ease;
}

.steps__card:hover .card__name {
	font-size: 24px;
	transition: font-size 1s ease;
}

@media(hover:hover) {}

@media(max-width: 768px) {
	.steps__card.active .steps__card_front {
		opacity: 0;
		transition: opacity 0.7s ease;
	}

	.steps__card.active .steps__card__content {
		opacity: 1;
		transition: opacity 0.7s ease;
	}

	.steps {
		padding-bottom: 80px;
	}

	.steps__card.active .card__content_title,
	.steps__card.active .card__name {
		font-size: 24px;
		transition: font-size 1s ease;
	}
}