.about__body {
	max-inline-size: 1920px;
	padding: 10em 6.25em;
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap: 30px;
	position: relative;
}

.about {
	background-color: var(--bg-beige);
}

.about__block {
	display: flex;
	justify-content: space-between;
	align-items: start;
	width: 100%;
}

.about_text_block {
	display: flex;
	flex-direction: column;
	flex: 1 1 787px;
	row-gap: 26px;
}

.about__apart_btn {
	display: flex;
	flex: 0 0 auto;
	position: relative;
	z-index: 2;
}

@media(max-width: 1023px) {
	.about__apart_btn {
		position: absolute;
		bottom: 100px;
		margin-left: 28.5%;
		margin-right: 50%;
		width: 100%;
		max-width: 359px;

	}

	.about__body {
		row-gap: 20px;
	}
}

.about__apart_btn button {
	height: 56px;
	border: 1px solid var(--acc-main-green-btn);
}

.about__apart_btn button::after {
	mix-blend-mode: normal;
	background-color: var(--acc-main-green-btn);
}

.about__apart_btn span {
	font-weight: 400;
	color: var(--acc-main-green);
}

.about__apart_btn button:hover {
	border: 1px solid var(--acc-main-green-btn);
}

.about__name {
	text-transform: uppercase;
	font-weight: 500;
	flex: 0 0 31%;
	font-size: 22px;
	line-height: 120%;
}

.about_block_text {
	width: 100%;
	max-width: 502px;
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}

.about_block_text p {
	line-height: 126%;
}

.about_text_block_title {
	text-transform: uppercase;
	font-weight: 400;
	font-size: 60px;
	line-height: 100%;
}


.img__list {
	display: flex;
	align-items: start;
	justify-content: space-between;
	column-gap: 20px;
	margin: 0 auto;
	position: relative;
}

.img__item {
	flex: 1 1 25%;
	max-width: 100%;
}

img.img__item {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	position: relative;
}

.img_wrapper {
	position: relative;
	overflow: hidden;
	max-width: 100%
}

:global(.swiper-img__list) :global(.swiper-wrapper) {
	column-gap: 20px;
}

.img_overlay {
	position: absolute;
	top: 0%;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--inpt-tx);
	z-index: 2;
	transition: top .5s ease;
}


.about_content_title {
	text-align: right;
	font-family: "Celine Sans", sans-serif;
	text-transform: uppercase;
	color: var(--acc-main-green);
	font-size: 390px;
	font-weight: 400;
	line-height: 100%;
}

.about__content {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.about_content_block {
	width: 100%;
	max-width: 502px;
	margin-left: 30.5%;
	margin-right: 50%;
	display: flex;
	flex-direction: column;
	row-gap: 26px;
}

.about_content_block_description {
	line-height: 126%;
	font-weight: 400;
}

.info__list {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.info__item {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 10px 0px 9px;
	border-bottom: 1px solid var(--tx-gray);
}

.info__item:first-child {
	padding-top: 9px;
	border-top: 1px solid var(--tx-gray);
}


.info__name {
	font-weight: 400;
	text-transform: uppercase;
	line-height: 126%;
	color: var(--tx-bl-50);
}

.info__description {
	font-weight: 500;
	font-size: 18px;
	line-height: 126%;
	color: var(--acc-main-green);
}

:global(.swiper-img__list) {
	width: 100%;
}

.swiper__img_block {
	display: flex;
	flex-direction: column;
	width: 100%;
	position: relative;
	margin-bottom: 20px;
}

.controls__wrapper {
	display: flex;
	flex-direction: row;
	align-items: end;
	column-gap: 24px;
	position: absolute;
	bottom: 0;
	left: 0;
}

.buttons__content {
	display: flex;
	position: relative;
	z-index: 2;
	column-gap: 10px;

}


.infra__prev,
.infra__next {
	width: 60px;
	height: 60px;
	display: none;
	mix-blend-mode: difference;
	position: relative;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
	cursor: pointer;
	overflow: hidden;
	border: 1px solid var(--acc-main-green);
}

.infra__prev svg,
.infra__next svg {
	position: relative;
	z-index: 3;
}


.infra__prev {
	background-color: transparent;


}

.infra__prev svg path {

	stroke: var(--acc-main-green);

}

.infra__next {
	background-color: var(--acc-main-green);
}


.infra__prev::after,
.infra__next::after {
	content: "";
	display: block;
	position: absolute;
	z-index: 1;
	width: 0;
	height: 0;
	top: 50%;
	left: 50%;
	border-radius: 100%;
	background-color: var(--bg-beige);
	transform: translate(-50%, -50%);
	transition: width .2s ease, height .2s ease;
}

.infra__prev::after {
	background-color: var(--acc-main-green);
}


@media (min-width: 1440px) and (max-width: 1920px) {
	.about__body {
		padding: clamp(8.75em, calc(12vw - 10em), 10em) clamp(5em, calc(9vw - 7em), 6.25em);
	}

	.about_text_block_title {
		font-size: clamp(3.13rem, 1.25rem + 2.08vw, 3.75rem);
	}

	.about_content_title {
		font-size: clamp(18.063rem, -0.875rem + 21.042vi, 24.375rem)
	}

	.about__name {
		font-size: clamp(1.13rem, 0.38rem + 0.83vw, 1.38rem);
	}
}

@media (min-width: 768px) and (max-width: 1920px) {
	.info__name {
		font-size: 15px;
	}

	.info__description {
		font-size: 16px;
	}
}

@media(max-width: 1440px) {

	.about_block_text p,
	.about_content_block_description {
		font-size: clamp(0.88rem, 0.82rem + 0.2vw, 1rem);
	}

	.about_text_block_title {
		font-size: clamp(1.75rem, 1.17rem + 2.17vw, 3.13rem);
	}

	.about_content_block {
		max-width: 366px;
	}
}

@media (min-width: 1024px) and (max-width: 1439px) {
	.about__body {
		padding: clamp(6.25em, calc(11vw - 5em), 8.75em) clamp(2.5em, calc(9.6vw - 7em), 5em);
	}

	.about__name {
		font-size: clamp(1rem, 0.69rem + 0.48vw, 1.13rem);
	}

	.about_content_title {
		font-size: clamp(13.375rem, 1.809rem + 18.072vi, 18.063rem)
	}
}

@media(max-width: 1023px) {
	.about_content_block {
		padding-bottom: 100px;
	}
}

@media (min-width: 768px) and (max-width: 1023px) {
	.about__body {
		padding: 6.25em clamp(1.25em, 5vw, 2.5em);
	}

	.about_content_title {
		font-size: clamp(10.375rem, -1.684rem + 23.529vi, 13.375rem);
	}

	.about__name {
		font-size: clamp(0.88rem, 0.5rem + 0.78vw, 1rem);
	}
}


@media(max-width: 768px) {
	.about__name {
		font-size: 16px;
	}

	:global(.swiper-img__list) :global(.swiper-slide.swiper-slide-next) {
		transition: max-width .5s ease;
		max-width: min(390px, 57vw);
	}

	.swiper__img_block {
		height: calc(43vw + 100px);
	}

	.infra__prev,
	.infra__next {
		display: flex;
	}

	:global(.swiper-img__list) :global(.swiper-slide) {
		max-width: 211px;
		transition: max-width .5s ease;
	}

	.about__block {
		flex-direction: column;
		row-gap: 20px;
	}

	.img__item,
	.img_wrapper {
		max-width: 100%;
	}

	.about_content_title {
		text-align: center;
	}

	.about_text_block {
		flex: 1 1 auto;
	}

	.about__body {
		padding: 6.25em 1.25em;
	}

	.about_content_block {
		margin-left: 0;
		margin-right: 0;
		max-width: 100%;
		justify-content: center;
	}

	.about__apart_btn {
		margin-left: 0;
		margin-right: 0;
		max-width: 500px;
		left: 0;
	}

	.about__apart_btn button {
		margin: 0 20px;
	}

	.about_content_block {
		row-gap: 20px;
	}

	.about_content_title {
		font-size: clamp(6.13rem, 0.86rem + 19.83vw, 10.375rem);
	}
}

@media(max-width: 540px) {
	.swiper__img_block {
		margin-bottom: 40px;
	}

	.controls__wrapper {
		display: none;
	}
}

@media (hover: hover) {
	.infra__next:hover svg path {
		stroke: black;
	}

	.infra__prev:hover svg path {
		stroke: white;
	}

	.infra__prev:hover::after,
	.infra__next:hover::after {
		width: 100%;
		height: 100%;
		transition: width .2s ease, height .2s ease;
	}
}