.form__body {
	max-inline-size: 1920px;
	margin: 0 auto;
	width: 100%;
	padding: 160px 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap: 40px;
}

.form__content {
	width: 100%;
	max-width: 676px;
}

.content__personal {
	flex-direction: column;
}

.form__title {
	text-transform: uppercase;
	font-family: "Celine Sans", sans-serif;
	font-size: 120px;
	font-weight: 400;
	line-height: 100%;
	color: var(--acc-main-green);
}

@media(max-width: 1920px) {
	.form__title {
		font-size: clamp(3.25rem, 2.54rem + 4.133vi, 7.5rem);
	}
}


@media (min-width: 1440px) and (max-width: 1920px) {
	.form__body {
		padding: clamp(8.75em, calc(12vw - 10em), 10em) clamp(5em, calc(9vw - 7em), 6.25em);
	}
}

@media (min-width: 1024px) and (max-width: 1439px) {
	.form__body {
		padding: clamp(6.25em, calc(11vw - 5em), 8.75em) clamp(2.5em, calc(9.6vw - 7em), 5em);
	}
}

@media (min-width: 768px) and (max-width: 1023px) {
	.form__body {
		padding: 6.25em clamp(1.25em, 5vw, 2.5em);
	}
}

@media(max-width: 768px) {
	.form__body {
		padding: 6.25em 1.25em;
	}

	.form__title {
		text-align: center;

	}
}

@media(max-width: 560px) {
	.form__title {
		max-width: 220px;
	}
}