.equipment {
	background-color: var(--bg-beige);
}

.equip__body {
	max-inline-size: 1920px;
	width: 100%;
	margin: 0 auto;
	padding: 160px 100px 170px;
	display: flex;
	flex-direction: column;
	row-gap: 40px;
	position: relative;
}

.equip__block {
	display: flex;
	width: 100%;
	justify-content: space-between;
	column-gap: 125px;
}


.equip_text_block {
	display: flex;
	justify-content: space-between;
	width: 100%;
	column-gap: 160px;
}

@media(max-width: 1920px) {

	.equip_text_block,
	.equip__block {
		column-gap: clamp(0rem, -1.614rem + 7.595vi, 7.5rem);
	}
}

.equip_text_block .btn__block {
	flex: 0;
	width: auto;
	min-width: none;
}

.btn__block :global(.apart__btn) {
	height: 56px;
	border: 1px solid var(--acc-main-green-btn);
	mix-blend-mode: normal;
}

.btn__block :global(.apart__btn)::after {
	mix-blend-mode: normal;
	background-color: var(--acc-main-green-btn);
}

.btn__block :global(.apart__btn) span {
	font-weight: 400;
	color: var(--acc-main-green);
	mix-blend-mode: normal;
}

.btn__block :global(.apart__btn):hover {
	border: 1px solid var(--acc-main-green-btn);
}

.btn__block :global(.apart__btn):hover span {
	color: var(--tx-wh);
}

.equip_text_block_title {
	max-width: 787px;
	text-transform: uppercase;
	font-size: 60px;
	line-height: 100%;
	font-weight: 400;
	line-height: 100%;
}


.equip__list {
	display: flex;
	flex-direction: column;
}

.equip__item {
	display: flex;
	justify-content: center;
	color: rgba(28, 47, 36, 0.50);
	transition: color 0.5s ease;
	flex-direction: column;
	border-bottom: 1px solid #D9D9D9;
	overflow: hidden;
	cursor: pointer;
	user-select: none;
}

.equip__item:first-child {
	border-top: 1px solid #D9D9D9;
}

.equip__block__content {
	display: flex;
	flex-direction: column;
	justify-content: start;
	flex: 1 1 1119px;
	row-gap: 12px;
	height: 32px;
	overflow: hidden;
	transition: height .5s ease;
}

.equip__item__content {
	display: flex;

	padding: 20px 0px;
	justify-content: space-between;
}

.equip__name {
	font-weight: 500;
	width: 100%;
	max-width: 399.5px;
	font-size: 22px;
	text-transform: uppercase;
	line-height: 120%;
}

.equip__name.open {
	font-size: 40px;
}

.equip__item .equip__name {
	font-size: 28px;
	font-weight: 500;
	line-height: 100%;
	text-transform: none;
	transition: color 0.5s ease;
	max-width: 600px;
}

@media(max-width: 1920px) {
	.equip__item .equip__name {
		font-size: clamp(1.375rem, 0.25rem + 1.25vi, 1.75rem);
	}

	.equip__name.open {
		font-size: clamp(1.375rem, 1.133rem + 1.139vi, 2.5rem);
	}
}

.equip__item.open .equip__name {
	color: var(--tx-bl);
	transition: color 0.5s ease;
}

.equip__btn img {
	cursor: pointer;
	transition: transform 0.5s ease;
}

.equip__item.open .equip__btn img {
	transform: rotate(180deg);
}

.equip__item.open .equip__block__content {
	height: 72px;
	width: 100%;
	max-width: 100%;
}

.equip__num {
	color: var(--tx-bl-50);
	font-size: 20px;
	line-height: 100%;
	font-weight: 400;
	width: 100%;
	max-width: 523.67px;
}

.equip__item__text {
	line-height: 126%;
	font-weight: 400;
	display: flex;
	width: 100%;
	flex: 1 1 100%;
	color: var(--tx-bl);
}

.equip__btn {
	flex: 0;
	display: flex;
	justify-content: end;
}

.equip__btn img {
	width: 32px;
}

@media(hover:hover) {
	.equip__item:hover .equip__name {
		color: var(--tx-bl);
		transition: color 0.5s ease;
	}
}

@media(max-width: 1920px) {
	.equip_text_block_title {
		font-size: clamp(1.75rem, 1.19rem + 2.133vi, 3.75rem);
	}


}

@media (min-width: 1440px) and (max-width: 1920px) {
	.equip__body {
		padding: clamp(8.75em, calc(12vw - 10em), 10em) clamp(5rem, 1.25rem + 4.167vi, 6.25rem) 10.62em;
	}
}

@media(max-width: 1440px) {
	.equip_text_block .btn__block {
		position: absolute;
		bottom: 70px;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
	}

	.equip_text_block .btn__block :global(.apart__btn) {
		max-width: 550px;
	}

	.equip_text_block_title {
		max-width: 560px;
	}
}

@media (min-width: 1024px) and (max-width: 1439px) {
	.equip__body {
		padding: clamp(6.25em, calc(11vw - 5em), 8.75em) clamp(2.5em, calc(9.6vw - 7em), 5em) 10.62em;
	}
}

@media (min-width: 768px) and (max-width: 1023px) {
	.equip__body {
		padding: 6.25em clamp(1.25em, 5vw, 2.5em) 10.62em;
	}
}

@media(max-width: 768px) {
	.equip__body {
		padding: 6.25em 1.25em 10.62em;
	}

	.equip_text_block .btn__block {
		width: 100%;
		max-width: 540px;
	}

	.equip__btn img {
		width: 26px;
	}

	.equip_text_block :global(.apart__btn) {
		margin: 0px 20px;
	}

	.equip_text_block {
		flex-direction: column;
	}

	.equip__block {
		flex-direction: column;
		row-gap: 20px;
	}

	.equip__name.open {
		font-size: 22px;
	}
}

@media(max-width: 560px) {
	.equip__num {
		display: none;
	}
}