.burger_modal {
	height: 100%;
	width: 100%;

}

.burger_modal_content {
	display: flex;
	align-items: start;
	justify-content: space-between;
}

.burger_modal_body {
	max-inline-size: 1920px;
	padding: 160px 100px 80px 100px;
	margin: 0 auto;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	transition: height .5s ease;
	justify-content: space-between;
}

.nav__name {
	font-weight: 500;
	font-size: 18px;
	line-height: 126%;
	color: var(--tx-bl-50);
}

.burger_modal_nav {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}


.burger_modal_notation {
	font-weight: 400;
	text-transform: uppercase;
	line-height: 126%;
	color: var(--tx-bl-50);
}

.burger_modal_nav nav {
	display: flex;
	flex-direction: column;
	align-items: start;
	row-gap: 20px;
	margin-bottom: 20px;
}

.burger_modal_nav nav p {
	font-size: 30px;
	line-height: 110%;
	font-weight: 500;
	color: var(--tx-bl);
	text-transform: uppercase;
	mix-blend-mode: multiply;
}

.burger_modal_social {

	width: 46px;
	height: 46px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
	border: 1px solid var(--inpt-br);
	background-color: var(--bg-beige);
	transition: .5s ease;
	overflow: hidden;
}

.burger_modal_socials {
	display: flex;
	justify-content: end;
	align-items: center;
	width: 100%;
	max-width: 346px;
}

.burger_modal_social:hover {
	background-color: var(--acc-main-green-btn);
}

.burger_modal_social:hover svg path {
	fill: white;
}

.burger_modal_nav button {
	background-color: var(--acc-main-green-btn);
	mix-blend-mode: unset;
	border: 1px solid var(--acc-main-green-btn);
	color: var(--tx-wh);
	transition: background-color .5s ease;
	max-width: 234px;
	height: 54px;
}

.burger_modal_nav button span {
	mix-blend-mode: normal;
	transition: color .3s ease;
}

.burger_modal_nav button:hover {
	border: 1px solid var(--acc-main-green-btn);


}

.burger_modal_nav button::after {
	background-color: white;
}

.burger_modal_nav button:hover::after {
	background-color: var(--bg-beige);
}

.burger_modal_nav button:hover span {
	color: var(--acc-main-green-btn);
}

.burger_modal_contact span {
	color: var(--tx-bl-50);
}

.burger_modal_contact :global(.contact__name) {
	text-transform: capitalize;
	font-size: 18px;
}

.request__btn {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 30px;
	width: 100%;
	mix-blend-mode: difference;
	height: 100%;
	max-width: 234px;
	height: 46px;
	position: relative;
	transition: background-color 2.5s ease, border 0.5s ease;
	overflow: hidden;
	cursor: pointer;
	color: var(--acc-main-green-btn);
	border: 1px solid #07412E;
	flex: 0;
}

.request__btn span {
	text-transform: uppercase;
	color: var(--acc-main-green-btn);
	font-weight: 500;
	line-height: 110%;
	position: relative;
	z-index: 2;
	transition: color .5s ease;
}

.request__btn::after {
	content: "";
	display: block;
	position: absolute;
	z-index: 1;
	width: 0;
	height: 0;
	top: 50%;
	left: 50%;
	border-radius: 100%;
	background-color: var(--acc-main-green-btn);
	transform: translate(-50%, -50%);
	transition: width .4s ease, height .6s ease, background-color .4s ease;
}

.burger_modal_contact :global(.number) {
	font-size: 32px;
}

.burger_modal_contact :global(.address) {
	font-size: 22px;
}

@media((min-width: 1440px) and (max-width: 1919px)) {}

.burger_modal_block {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.burger_modal_block div {
	flex: 1 1 33.333%;
}
.burger_modal_block button{
	flex: 0;
}
.burger_modal_social {
	max-width: 46px;
}

.burger_modal_social svg {
	cursor: pointer;

}

.burger_modal_social svg path {
	fill: var(--acc-main-green-btn);
}

.burger_modal_picture {
	width: 34.507vw;
	max-width: 500px;
}

.burger_modal_btns {
	max-width: 39.5%;
	display: flex;
}

.burger_modal_nav_block {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	row-gap: 10px;
}

@media(max-width: 1920px) {
	.nav__name {
		font-size: clamp(1rem, 0.63rem + 0.42vw, 1.13rem);
	}

	.burger_modal_contact :global(.contact__name) {
		font-size: clamp(1rem, 0.63rem + 0.42vw, 1.13rem);
	}
}

@media (min-width: 1440px) and (max-width: 1920px) {
	.burger_modal_body {
		padding: 10em clamp(5em, calc(9vw - 7em), 6.25em) clamp(5em, calc(12vw - 10em), 10em) clamp(5em, calc(9vw - 7em), 6.25em);
	}

	.burger_modal_contact :global(.number) {
		font-size: clamp(26px, calc(16.68px + 1.2526vw), 32px);
	}

	.burger_modal_contact :global(.address) {
		font-size: clamp(1.13rem, calc(0.38rem + 0.83vw), 1.38rem);
	}
}

@media(max-width: 1440px) {
	.burger_modal_nav {
		height: 100%;
		max-height: 446px;
	}
}

@media (min-width: 1024px) and (max-width: 1439px) {
	.burger_modal_body {
		padding: clamp(7.5em, 5vw, 10em) clamp(2.5em, calc(12vw - 10em), 5em) clamp(2.5em, calc(9vw - 7em), 5em) clamp(2.5em, calc(9vw - 7em), 5em);
	}

	.burger_modal_contact :global(.contact__name_depart) {
		text-transform: math-auto;
	}

	.burger_modal_contact :global(.number) {
		font-size: 30px;
	}

}

@media (min-width: 768px) and (max-width: 1439px) {
	.burger_modal_nav button {
		max-width: 250px;
		position: absolute;
		right: 80px;
		bottom: -16px;
	}
}

@media(max-width: 1439px) {
	.burger_modal_contact :global(.address) {
		font-size: clamp(1.13rem, 0.51rem + 0.96vw, 1.38rem);
	}


}

@media(max-width: 1230px) {
	.burger_modal_content {
		flex-direction: column-reverse;
		row-gap: 60px;
	}

	.burger_modal_nav_block {
		row-gap: 30px;
	}

	.burger_modal_nav button {
		position: static;
	}

	.burger_modal_nav nav {
		flex-direction: row;
		flex-wrap: wrap;
		flex: 1 1 auto;
		max-width: 688px;
		row-gap: 16px;
		margin-bottom: 0;
	}

	.burger_modal_nav nav p {
		flex: 0 1 318px;
	}

	.contact__info {
		flex-direction: row;
	}

	.burger_modal_picture {
		display: none;
	}

	.burger_modal_contact :global(.contact_info_block) {
		flex-direction: row;
		flex: 1 1 100%;
		max-width: 100%;
		column-gap: 100px;
	}

	.burger_modal_contact :global(.address) {
		max-width: 260px;
	}
}

@media (max-width: 1023px) {
	.burger_modal_body {
		padding: clamp(6.25em, calc(6.25em + 1.47vw), 10em) clamp(1.25em, calc(12vw - 10em), 2.5em) clamp(2.5em, calc(9vw - 7em), 5em) clamp(1.25em, calc(9vw - 7em), 2.5em);
	}

	.burger_modal_nav nav p {
		font-size: clamp(1.25rem, 0.48rem + 2.92vw, 1.88rem);
	}
}



@media(max-width:768px) {
	.burger_modal_content {
		row-gap: 24px;
		margin-bottom: 24px;
	}



	.burger_modal_contact :global(.contact__name_depart),
	.request__btn {
		font-size: clamp(0.75rem, 0.44rem + 1.17vw, 1rem);
	}

	.burger_modal_contact :global(.contact_info_block) div:last-child {
		row-gap: 6px;
	}

	.burger_modal_notation {
		font-size: clamp(0.75rem, 0.6rem + 0.58vw, 0.88rem);
	}

	.nav__name {
		display: none;
	}

	.burger_modal_block {
		align-items: start;
	}

	.burger_modal_btns {
		justify-content: space-between;
	}

	.burger_modal_block div {
		flex: 1;
	}

	.burger_modal_socials {
		justify-content: start;
		max-width: 48px;
	}

	.burger_modal_block {
		row-gap: 20px;
	}

	.burger_modal_btns {
		max-width: 100%;
		flex: 1 1 100%;
		width: 100%;
		flex-direction: row-reverse;
	}

	.burger_modal_contact :global(.number) {
		font-size: clamp(1.25rem, 0.8rem + 2.23vw, 1.88rem);
	}

	.burger_modal_nav {
		width: 100%;
	}

	.burger_modal_block {
		flex-direction: column;
	}

	.burger_modal_nav_block {
		flex-direction: column;
		row-gap: 16px;

	}

	.burger_modal_contact :global(.contact_info_block) {
		flex-direction: column;
		row-gap: 26px;
	}

	.burger_modal_nav nav {
		flex-direction: column;
		margin-bottom: 14px;
		row-gap: 14px;
	}

	.burger_modal_nav nav p {
		flex: 1 1 auto;
	}

	.burger_modal_nav button {
		position: static;
	}
}

@media(max-width: 560px) {
	.burger_modal_nav button {
		max-width: 100%
	}
}

@media (hover: hover) {

	.request__btn:hover::after {
		width: 200%;
		height: 250%;
		transition: width 1s ease, height .5s ease;
		border: 1px solid #07412E;
	}

	.request__btn:hover span {
		color: var(--bg-beige);

		mix-blend-mode: normal;
	}
}