.infrastructura {
	background-color: var(--acc-main-green);
	color: var(--tx-wh);
	display: flex;
	flex-direction: column;
	row-gap: 60px;
}

.infrastructura__body {
	max-inline-size: 1920px;
	padding: 10em 6.25em;
	padding-bottom: 0;
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap: 40px;
}

.infrastructura__name {
	text-transform: uppercase;
	width: 100%;
	max-width: 388.67px;
	font-weight: 500;
	font-size: 22px;
	line-height: 120%;
}

.infrastructura__block {
	display: flex;
	justify-content: start;
	column-gap: 25px;
	align-items: start;
	width: 100%;
}

.infrastructura_text_block {
	display: flex;
	flex-direction: column;
	flex: 1 1 100%;
	row-gap: 20px;
}

.infrastructura_block_text {
	width: 100%;
	display: flex;
	flex-direction: row-reverse;
	max-width: 615px;
	row-gap: 20px;
	width: 100%;
	font-weight: 300;
}

.infrastructura_block_text p {
	font-size: 18px;
	line-height: 126%;
	max-width: 504px;
}

@media(max-width: 1920px) {
	.infrastructura_block_text {
		max-width: 32.3vw;
	}
}



.infrastructura_text_block_title {
	text-transform: uppercase;
	font-weight: 400;
	font-size: 80px;
	line-height: 100%;
	max-width: 797px;
	margin-left: -3vw;
}

.infrastructura_text_block_title.infra_srb {
	font-size: 60px;
}

@media (min-width: 1440px) and (max-width: 1920px) {
	.infrastructura__body {
		padding: clamp(8.75em, calc(12vw - 10em), 10em) clamp(5rem, 1.25rem + 4.167vi, 6.25rem) 0;
		padding-bottom: 0;
	}

	.infrastructura {
		row-gap: clamp(2.563rem, -1rem + 3.958vi, 3.75rem);
	}

	.infrastructura_block_text p {
		font-size: clamp(1rem, 0.625rem + 0.417vi, 1.125rem);
	}

	:global(.info_block_text) {
		font-size: clamp(1.125rem, 0.375rem + 0.833vi, 1.375rem);
	}

	.infrastructura_text_block_title {
		font-size: clamp(3.75rem, 0rem + 4.167vi, 5rem);
		max-width: 50vw;
	}

	.infrastructura_text_block_title.infra_srb {
		font-size: 3.75rem;
	}
}

@media((min-width: 1024px) and (max-width:1440px)) {
	:global(.info_block_text) {
		font-size: clamp(0.938rem, 0.723rem + 0.446vi, 1.125rem);
		line-height: 120%;
	}

	.infrastructura_block_text p {
		font-size: clamp(0.938rem, 0.784rem + 0.24vi, 1rem);
	}

	.infrastructura {
		row-gap: clamp(1.875rem, 0.337rem + 2.404vi, 2.5rem)
	}
}

@media((min-width: 768px) and (max-width:1920px)) {
	:global(.info_walk) {
		font-size: clamp(1.375rem, 0.625rem + 1.563vi, 2.5rem);
	}
}

@media(max-width: 1023px) {
	.infrastructura {
		row-gap: 30px;
	}

	.infrastructura_block_text p {
		font-size: 15px;
	}
}

@media ((min-width: 1024px) and (max-width: 1439px)) {
	.infrastructura__body {
		padding: clamp(6.25em, calc(11vw - 5em), 8.75em) clamp(2.5em, calc(9.6vw - 7em), 5em) 0;
		padding-bottom: 0;
	}

	.infrastructura_text_block_title {
		font-size: clamp(3.125rem, 1.587rem + 2.404vi, 3.75rem);
		max-width: 620px;
		margin-left: -10vw;
	}
}

@media ((min-width: 768px) and (max-width: 1023px)) {
	.infrastructura_text_block_title {
		font-size: clamp(2.375rem, 0.529rem + 2.885vi, 3.125rem);
	}

	.infrastructura_text_block_title {
		max-width: 40vw;
	}

	.infrastructura_text_block_title {
		margin-left: -10vw;
	}
}

@media(max-width: 1440px) {
	.infrastructura_block_text {
		max-width: 33.8vw;
		justify-content: end;
	}
}

@media(max-width: 1220px) {
	.infrastructura_block_text {
		max-width: 54vw;
	}

	.infrastructura_block_text {
		justify-content: start;
	}

	.infrastructura_text_block {
		flex: 1 1 auto;
		max-width: 100%;
		width: 85%;
		row-gap: 20px;
	}

	.infrastructura__name {
		max-width: 26vw;
		flex: 1 1 388.67px;
	}

	.infrastructura_text_block_title {
		max-width: 50vw;
	}
}

@media (min-width: 768px) and (max-width: 1023px) {
	.infrastructura__body {
		padding: 6.25em clamp(1.25em, 5vw, 2.5em) 0;
	}

	:global(.info_block_text) {
		font-size: 18px;
	}

	.infrastructura_text_block_title {
		font-size: clamp(1.75rem, 0.25rem + 3.125vi, 2.25rem);
	}
}

@media(max-width: 768px) {

	.infrastructura_text_block_title,
	.infrastructura_text_block_title.infra_srb {
		font-size: 1.75rem;
		letter-spacing: 1px;
	}


	.infrastructura_text_block {
		width: 100%;
	}

	.infrastructura_text_block_title {
		max-width: 100%;
		margin-left: 0;
	}

	.infrastructura_block_text {
		max-width: 100%;
		justify-content: start;
	}

	.infrastructura__body {
		padding: 5em 1.25em 0;
	}

	.location__body {
		padding: 0 1.25em 5.25em;
	}

	:global(.info_walk) {
		font-size: 26px
	}

	.infrastructura__block {
		flex-direction: column;
		row-gap: 20px;
	}
}

@media(max-width: 540px) {
	.infrastructura_block_text p {
		font-size: 14px;
		line-height: 126%;
	}


}