.navigation {
	display: flex;
	align-items: center;
	column-gap: 43px;
	position: relative;
	z-index: 5;
}


.nav__link {
	cursor: pointer;
	color: var(--tx-wh);
	mix-blend-mode: difference;
	transition: color 0.5s ease;
	font-weight: 400;
	line-height: 100%;
}

@media (hover: hover) {
	.nav__link:hover {
		color: var(--acc-light-apr);
	}
}

@media (max-width: 1500px) {
	.nav__link:nth-child(4) {
		display: none;
	}
}

@media (min-width: 1440px) and (max-width: 1920px) {

	.navigation {
		column-gap: clamp(1.25rem, -2.688rem + 4.375vi, 2.563rem);
	}

	.navigation__body {
		flex: 1;
		justify-content: end;
	}
}