.main {
	display: flex;
	flex-direction: column;
}

.video_stab {
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
}

.parallax {
	position: relative;
	background-color: var(--header-bg-color);
}

.parallax_block {
	display: flex;
	height: 100%;
	width: 100%;
	max-height: 95vh;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.parallax_block_text {
	display: flex;
	top: 0;
	right: 0;
	justify-content: end;
	position: absolute;
	padding-top: 80px;
	padding-right: 174px;
	width: 100%;
}

.parallax_image {
	width: 100%;
	height: auto;
	object-fit: cover;
	object-position: center;
}

.parallax_image {
	position: relative;
	top: -12vh;
}

.parallax_block_text p {
	max-width: 776px;
	width: 100%;
	text-transform: uppercase;
	font-size: 5rem;
	line-height: 100%;
	font-weight: 400;
	color: var(--tx-wh);
}

@media(max-width: 1440px) {
	.parallax_block_text p {
		font-size: clamp(1.75rem, 0.84rem + 3.467vi, 5rem);
	}

	.parallax_image {
		height: 100vh;
		width: 100vw;
	}

	.parallax_block_text {
		max-width: 52vw;
		padding-top: clamp(1.25rem, -7.857rem + 14.286vi, 5rem);
		padding-right: 0;
	}
}

@media(max-width: 768px) {
	.parallax_block_text {
		position: static;
		padding: 0px 20px;
		max-width: 480px;
	}

	.parallax_block_text p {
		color: var(--tx-bl);
	}

	.parallax_block {
		height: 100%;
		max-height: 100%;
	}

	.parallax {
		height: 100%;
		padding-top: 100px;
		display: flex;
		flex-direction: column-reverse;
		background-color: transparent;
		row-gap: 20px;
	}
}

@media((min-width: 1440px) and (max-width:1920px)) {
	.parallax_image {
		top: clamp(0vh, calc((-12 / 480) * (100vw - 1440px)), -12vh);
	}
}

@media(max-width: 1440px) {
	.parallax_image {
		top: -6vh;
	}
}

@media((min-width: 1024px) and (max-width:1440px)) {}

@media(max-width: 1024px) {}

@media((min-width: 768px) and (max-width:1024px)) {}