.visual_floor_section {
	position: relative;
}

.visual_floor_section_container {
	display: flex;
	width: 100%;
	height: auto;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	margin: 0 auto;
	width: 100%;
	top: 150px;
	z-index: 2;
	left: 0;
}

.visual__body {
	max-inline-size: 1920px;
	padding: 0em 6.25em 0;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	width: 100%;
	pointer-events: none;
}

.visual_tooltip {
	background-color: var(--bg-beige);
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 80px;
	width: 100%;
	max-width: 420px;
	padding: 0px 54px;
}

.tooltip_floor {
	display: flex;
	flex-direction: column;
	position: relative;
	align-items: center;
	justify-content: center;
}

.tooltip_floor::after {
	content: '';
	position: absolute;
	width: 2px;
	right: -40px;
	height: 100%;
	background-color: var(--tx-gray);
}

.tooltip_floor_num {
	font-size: 68px;
	font-weight: 400;
	color: var(--acc-main-green-btn);
}

.tooltip_floor_txt {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 18px;
	line-height: 120%;
	color: var(--acc-main-green-btn);
}

.visual_tooltip_count_apt {
	color: var(--tx-bl);
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 120%;
}

.visual_tooltip_area_meter {
	display: flex;
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
}


.visual_info_block {
	display: flex;
	row-gap: 6px;
	flex-direction: column;
}

.svgWrapper {
	position: relative;
	width: 100%;
	max-width: 3000px;
	height: auto;
	aspect-ratio: 3000 / 1124;
	margin: 0 auto;
	user-select: none;
}


.svgImage path {
	cursor: pointer;
}

.plan_img,
.svgImage {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
}

.svgImage {
	z-index: 2;
}

.plan_floor_click {
	cursor: pointer;

}



.apart_info_txt {
	color: var(--tx-wh);
	font-family: 'Hauora', sans-serif;
	font-size: 22px;
	line-height: 110%;
}

.visual_title_block {
	display: flex;
	column-gap: 10px;
	justify-content: center;
}

.visual_title {
	font-size: 140px;
	font-weight: 400;
	font-family: 'Celine Sans', sans-serif;
	line-height: 100%;
	color: var(--tx-wh);
	text-transform: uppercase;
}

.visual_floor_section_container :global(.breadcrumbs_section) {
	padding-top: 0;
	align-self: start;
	position: relative;
}

@media (hover: hover) {
	:global(.plan_floor_click):hover {
		opacity: 0.6;
	}
}


.visual_floor__body {
	display: flex;
	justify-content: space-between;

}

@media(max-width: 1920px) {
	.visual_title {
		font-size: clamp(6.25rem, 3.393rem + 4.464vi, 8.75rem);
	}

	.tooltip_floor_num {
		font-size: clamp(3.75rem, 3.179rem + 0.893vi, 4.25rem);
	}

	.apart_info_txt {
		font-size: clamp(1.25rem, 0.875rem + 0.417vi, 1.375rem);
	}
}

@media((min-width: 1440px) and (max-width: 1920px)) {
	.visual__body {
		padding: 0em clamp(5rem, 1.25rem + 4.167vi, 6.25rem);
	}

	.visual_floor_section_container {
		top: clamp(8.125rem, 4.375rem + 4.167vi, 9.375rem);
	}
}

@media(max-width: 1200px) {
	.visual_floor_section_container {
		top: 146px;
	}
}

@media((min-width: 1024px) and (max-width: 1439px)) {
	.visual__body {
		padding: 0em clamp(2.5rem, -3.654rem + 9.615vi, 5rem);
	}
}

@media((min-width: 769px) and (max-width: 1023px)) {
	.visual__body {
		padding: 0em clamp(1.25rem, -2.5rem + 7.813vi, 2.5rem);
	}
}

@media(max-width: 768px) {
	.visual__body {
		padding: 0em 20px;
	}


}