.langSwitcher {
	color: var(--tx-wh);
	list-style: none;
	position: relative;
	transition: height .5s ease;
	width: 64px;
	max-width: 64px;
	padding-top: 10px;
}

.langSwitcher::after {
	content: '';
	width: 100%;
	height: 90px;
	position: absolute;
	top: -10px;
	left: 0;
	z-index: 1;
	background-color: #ffffff33;
	backdrop-filter: blur(30px);
	transform: scaleY(0);
	transform-origin: top;
	transition: transform 0.8s ease;
}

.selectWrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	max-width: 64px;
	height: 22px;
	overflow: hidden;
	transition: height .4s ease;
}

.selected {
	color: var(--tx-wh);
	list-style: none;
	color: currentColor;
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 6px;
	cursor: pointer;
	user-select: none;
	padding: 0px 9px;
	transition: color .5s ease;
}

.selected:hover {
	color: var(--acc-light-apr);
}

.langSwitcher li {
	list-style: none;
	cursor: pointer;
	transition: .3s ease;
}

.langSwitcher li:hover {
	color: var(--acc-light-apr-tx);
}

.selected span {
	user-select: none;
	display: flex;
	color: var(--tx-wh);
	mix-blend-mode: difference;
	align-items: center;

}



.langSwitcher ul {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: start;
	height: 100%;
	row-gap: 4px;
	width: 100%;
	padding: 10px;
	position: relative;
	z-index: 2;

}

.langSwitcher:global(.active) .selectWrapper {
	height: 90px;
	transition: height .8s ease;
}

.langSwitcher:global(.active)::after {
	transform: scaleY(1);
	transition: transform 0.4s ease;
}

.langSwitcher:global(.active) .arrow {
	transform: rotate(180deg);
}

/* .langSwitcher ul::before {
	content: '';
	background-color: #ffffff33;
	backdrop-filter: blur(30px);
	position: absolute;
	top: 0px;
	left: 0;
	width: 100%;
	height: 100%;
}
 */
.arrow {
	transition: transform .5s ease;
	height: 10px;
	width: 10px;
}

.arrow svg {
	width: 100%;
	height: 100%;
}