.langSwitcher {
	color: var(--tx-wh);
	list-style: none;
	position: relative;
}

.selected {
	color: var(--tx-wh);
	list-style: none;
	mix-blend-mode: difference;
	color: currentColor;
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 6px;
	cursor: pointer;
	user-select: none;
	padding: 0px 9px;
}

.langSwitcher li {
	list-style: none;
	cursor: pointer;
	transition: .3s ease;
	padding-left: 10px;
	padding-right: 10px;
}

.langSwitcher li:first-child {
	padding-top: 14px;
}

.langSwitcher li:last-child {
	padding-bottom: 14px;
}

.langSwitcher li:hover {
	color: var(--acc-light-apr-tx);
}

.selected span {
	user-select: none;
	display: flex;
	color: var(--tx-wh);
	mix-blend-mode: difference;
	align-items: center;

}



.langSwitcher ul {
	position: absolute;
	top: 20px;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: start;
	height: 0%;
	row-gap: 4px;
	overflow: hidden;
	width: 100%;
	max-width: 64px;
	background-color: #ffffff33;
	backdrop-filter: blur(30px);
	transition: height .5s ease;
}

.langSwitcher:global(.active) ul {
	height: 360%;
}

.langSwitcher:global(.active) .arrow {
	transform: rotate(180deg);
}

/* .langSwitcher ul::before {
	content: '';
	background-color: #ffffff33;
	backdrop-filter: blur(30px);
	position: absolute;
	top: 0px;
	left: 0;
	width: 100%;
	height: 100%;
}
 */
.arrow {
	transition: transform .5s ease;
	height: 10px;
	width: 10px;
}

.arrow svg {
	width: 100%;
	height: 100%;
}