.main {
	background-color: var(--acc-main-green);
	height: 138vh;
	padding-top: 5vh;
	padding-bottom: 149px;
}

.main .pin-spacer {
	top: -418px;
}

.pinWrapper {

	height: 100vh;
	position: relative;
	display: flex;
	align-items: start;
	z-index: 1;
	justify-content: center;
}

.image__block {
	top: -418px;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	z-index: 1;
}

.content {
	text-align: center;
}

.main_img {
	width: 100%;
	height: 100%;
	max-width: 85vw;
	max-height: 496px;
	object-fit: cover;
	object-position: bottom;
}

.main__body {
	max-inline-size: 1920px;
	padding: 0em 6.25em 0;
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 16px;
}

.title {
	font-family: "Celine Sans", sans-serif;
	text-transform: uppercase;
	font-size: 18.75rem;
	font-weight: 400;
	color: var(--tx-wh);
	line-height: 85%;
	margin-bottom: 418px;
	position: relative;
	z-index: 2;
}



.text_welcome {
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 200;
	line-height: 100%;
	color: var(--tx-wh);
}

.title_block {
	position: relative;
	top: 10vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	row-gap: 44px;
}

.subtitle {
	color: var(--tx-wh);
	font-size: 20px;
	line-height: 120%;
	font-weight: 200;
}

@media(max-width: 1920px) {
	.title_block {
		row-gap: 30px;
	}
}

@media (min-width: 1440px) and (max-width: 1920px) {
	.main__body {
		padding: 0 clamp(5em, calc(9vw - 7em), 6.25em) 0;
	}

	.title {
		font-size: clamp(15rem, calc(15rem + 0.13vw), 18.75rem);
	}
}

@media (min-width: 1024px) and (max-width: 1439px) {
	.main__body {
		padding: 0 clamp(2.5em, calc(9.6vw - 7em), 5em) 0;
	}

	.title {
		font-size: clamp(10rem, calc(10rem + 1.0416vw), 15rem);
	}
}

@media(max-width: 1023px) {
	.text_welcome {
		font-size: clamp(1rem, 0.25rem + 1.57vw, 1.25rem);
	}
}

@media (min-width: 768px) and (max-width: 1023px) {
	.main__body {
		padding: 0 clamp(1.25em, 5vw, 2.5em) 0;
	}

	.title {
		font-size: clamp(7.5rem, 0rem + 15.63vw, 10rem);
	}

}

@media(max-width: 767px) {
	.title {
		font-size: clamp(5.63rem, 4.29rem + 6.7vw, 7.5rem);
	}
}

@media(max-width: 560px) {
	.title_block {
		row-gap: 20px;
	}

	.subtitle {
		max-width: 340px;
	}

	.title {
		max-width: 290px;
	}
}