.block__address {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.contact__content {
	flex: 0 1 1190px;
	display: flex;
	flex-direction: column;
	row-gap: 110.5px;
	position: relative;
}

.contact__info {
	flex: 0 1 324px;
	width: 100%;
	max-width: 324px;
	display: flex;
	flex-direction: column;
	row-gap: 60px;
}

.number {
	font-size: 28px;
	line-height: 100%;
	font-weight: 500;
	transition: .5s ease;
}


.contact__name {
	text-transform: uppercase;
	font-weight: 400;
	line-height: 100%;
	color: #D9D9D980;
}

.address {
	font-size: 24px;
	font-weight: 500;
	line-height: 110%;
	margin-bottom: 20px;
	transition: .5s ease;
}

@media (hover:hover) {

	.number:hover,
	.address:hover {
		color: var(--acc-light-apr);
	}
}

@media(max-width:1920px) {

	.address,
	.number {
		font-size: clamp(1.375rem, 1rem + 0.417vi, 1.5rem);
	}
}

@media(max-width:1440px) {
	.contact__info {
		row-gap: 50px;
	}

	.address,
	.number {
		font-size: clamp(1.375rem, 1rem + 0.417vi, 1.5rem);
	}
}

@media(max-width: 1024px) {

	.address,
	.number {
		font-size: clamp(1.125rem, 0.375rem + 0.833vi, 1.375rem);
	}
}

@media(max-width: 768px) {
	.contact__info {
		row-gap: clamp(1.375rem, 0.156rem + 4.643vi, 3.125rem)
	}

	.address {
		font-size: clamp(0.938rem, 0.711rem + 0.862vi, 1.125rem);
		margin-bottom: 0;
		max-width: 220px;
		line-height: 126%;
	}

	.number {
		font-size: 20px;
	}

	.contact__info {
		flex: 1 1 auto;
	}
}