.logo {
	width: auto;
	height: auto;
	color: white;
	position: relative;
	z-index: 5;
	cursor: pointer;
}

.logo svg {
	width: 100%;
	height: 100%;
}

.header__body {
	display: flex;
	justify-content: space-between;
	max-inline-size: 1920px;
	margin: 0 auto;
	width: 100%;
	padding: 0em 6.25em 0;
}

.logo svg path {
	transition: all .8s ease;
	fill: var(--tx-wh);
}

.header__body .navigation__body p {
	font-weight: 400;
}


.btn__body {
	position: relative;
}

.btn__list {
	top: 60px;
	position: absolute;
	width: 126%;
	max-width: 300px;
	height: auto;
	max-height: 0;
	padding: 0px 30px;
	transition: max-height .5s ease;
	background-color: var(--bg-beige);
	overflow: hidden;
}

.btn_wrapper:global(.active)~.btn__list {
	max-height: 350px;
}

.btn__list li {
	list-style-type: none;
}

.btn__list li {
	padding: 30px 0;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 16px;
	line-height: 110%;
	transition: color .5s ease, height .5s ease;
}

.btn__list li:first-child {
	border-bottom: 1px solid #D9D9D9;
}

.header__body:global(.active) .logo svg path {
	transition: all .8s ease;
	fill: var(--acc-main-green);
}

.header__body :global(.lang_switcher),
.header__body :global(.lang_switcher) svg path {
	transition: all .8s ease;
}

.header__body:global(.active) .navigation__body p,
.header__body:global(.active) :global(.lang_switcher) {
	transition: all .8s ease;
	color: var(--acc-main-green);
}

.header__body:global(.active) :global(.lang_switcher) svg path {
	stroke: var(--acc-main-green);
	transition: all .8s ease;
}

.btn__body :global(.apart__btn) {
	transition: border 1.2s ease, color .5s ease;
}


.header__body .btn__body :global(.apart__btn),
.header__body .btn__body {
	mix-blend-mode: normal;
}

.header__body .btn__body :global(.apart__btn)::after {
	mix-blend-mode: normal;
	background-color: var(--bg-beige);
}

@media(hover:hover) {
	.btn__body :global(.apart__btn):hover span {
		color: var(--acc-main-green);

	}

	.btn__list li:hover {
		color: var(--acc-light-apr);
	}

	.header__body:global(.active) .btn__body :global(.apart__btn):hover span {
		color: var(--tx-wh)
	}
}

.header__body:global(.active) .btn__body :global(.apart__btn) {
	border: 1px solid var(--acc-main-green-btn);
	color: var(--acc-main-green-btn);
	transition: color .5s ease;
}

.header__body:global(.active) .btn__body :global(.apart__btn)::after {
	background-color: var(--acc-main-green-btn);
}

header:global(.changed) .header__body .logo svg path {
	transition: all .8s ease;
	fill: var(--acc-main-green);
}

header:global(.changed) .header__body :global(.lang_switcher),
header:global(.changed) .header__body :global(.lang_switcher) svg path {
	transition: all .8s ease;
}

header:global(.changed) .header__body .navigation__body p,
header:global(.changed) .header__body :global(.lang_switcher) {
	transition: all .8s ease;
	color: var(--acc-main-green);
}

header:global(.changed) .header__body :global(.lang_switcher) svg path {
	stroke: var(--acc-main-green);
	transition: all .8s ease;
}

header:global(.changed) .btn__body :global(.apart__btn) {
	transition: border 1.2s ease, color .5s ease;
}

header:global(.changed) .header__body .btn__body :global(.apart__btn)::after {
	mix-blend-mode: normal;
	background-color: var(--acc-light-apr);
}

header:global(.changed) .header__body .btn__body :global(.apart__btn),
header:global(.changed) .header__body .btn__body {
	mix-blend-mode: normal;
}

header:global(.changed) .header__body .btn__body :global(.apart__btn) {
	border: 1px solid var(--acc-main-green-btn);
	color: var(--acc-main-green-btn);
	transition: color .5s ease;
}

header:global(.changed) .header__body .btn__body :global(.apart__btn)::after {
	background-color: var(--acc-main-green-btn);
}

.maintanceHeader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 3;
	height: 5.375rem;
	padding: 1.25em 6.25em 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
}


.langSwitcher_maintance {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 12px;
	mix-blend-mode: difference;
}

.langSwitcher_maintance button {
	text-transform: uppercase;
	transition: color 0.5s ease;
	cursor: pointer;
	font-weight: 500;
	color: var(--tx-bl-50);
}

button.active {
	color: var(--tx-bl);
}

.langSwitcher_maintance button {
	position: relative;

}

.langSwitcher_maintance button:not(:last-child)::after {
	content: "/";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 16px;
	mix-blend-mode: difference;
	color: var(--tx-wh);
}

.header_block {
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 20px;
}

.header__burger {
	display: flex;
	flex-direction: column;
	row-gap: 5.66px;
	cursor: pointer;
}

.link {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.list__arrow {
	width: 30px;
	height: 30px;
	background-color: var(--acc-main-green-btn);
	border-radius: 100%;
	display: flex;
	align-items: center;
	border: 1px solid var(--acc-main-green-btn);
	justify-content: center;
	position: relative;
	z-index: 2;
}

.corner_arrow {
	position: absolute;
	top: 8px;
	left: 8px;
	width: 16px;
	height: 16px;
}

.list__arrow svg {
	position: relative;
	z-index: 2;

}

.list__arrow::after {
	content: "";
	display: block;
	position: absolute;
	z-index: 1;
	width: 0;
	height: 0;
	top: 50%;
	left: 50%;
	border-radius: 100%;
	background-color: var(--bg-beige);
	transform: translate(-50%, -50%);
	transition: width .2s ease, height .2s ease;
}

.link:hover .list__arrow::after {
	width: 100%;
	height: 100%;
	transition: width .2s ease, height .2s ease;
}

.link:hover .list__arrow svg path {
	stroke: black;
}

.burger_line {
	display: block;
	height: 1.55px;
	width: 40px;
	background: #fff;
	transition: transform .3s, background-color .8s;
}

.header__body:global(.active) .burger_line {
	background-color: var(--acc-main-green);
}

header:global(.changed) .header__body .burger_line {
	background-color: var(--acc-main-green);
}

.header__burger.active .burger_line:first-child {
	transform: translateY(3px) rotate(45deg);
	margin: 5.5px 0;
}

.header__burger.active .burger_line:nth-child(2) {
	opacity: 0;
}

.header__burger.active .burger_line:last-child {
	transform: translateY(-16px) rotate(-45deg)
}

.modal__wrapper {
	position: fixed;
	top: 0px;
	left: 0;
	width: 100%;
	height: 0vh;
	z-index: 3;
	background-color: var(--bg-beige);
	transition: .5s ease;
	overflow: hidden;
}

.header__burger.active~.modal__wrapper {
	height: 100vh;
	transition: .5s ease;
}


.header_block button,
.header_block div:not(:last-child) {
	position: relative;
	z-index: 4;

}

div.burger_modal_content {
	mix-blend-mode: normal;
}

.langSwitcher_maintance {
	mix-blend-mode: difference;
}

.langSwitcher_maintance button {
	color: white;
	mix-blend-mode: difference;
	font-weight: 400;
}

.langSwitcher_maintance button::after {
	color: white;
}

.navigation__body {
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn__body {
	mix-blend-mode: difference;
}

@media (hover: hover) {
	.langSwitcher_maintance span:hover {
		color: var(--tx-bl);
	}
}

@media (max-width: 1920px) {}

@media (max-width: 1500px) {
	.maintanceHeader {
		padding: 1.5em clamp(1.25em, 2vw, 6.25em) 0;
		height: 4em;
	}

	.logo {
		width: 102px;
	}
}

@media (max-width: 767.99px) {
	.maintanceHeader {
		background-color: var(--bg-beige);
	}
}


@media((min-width: 1440px) and (max-width: 1920px)) {
	.header__body {
		padding: 0em clamp(5em, 6vw, 6.25em) 0;
	}
}

@media (min-width: 1440px) and (max-width: 1890px) {
	.navigation__body {
		flex: 1;
		justify-content: end;
		margin-right: 110px;
	}
}

@media((min-width: 1024px) and (max-width: 1439px)) {
	.header__body {
		padding: 0em clamp(2.5em, 3vw, 5em) 0;
	}
}

@media((min-width: 769px) and (max-width: 1023px)) {
	.header__body {
		padding: 0em clamp(1.25em, 3vw, 2.5em) 0;
	}
}

@media(max-width: 768px) {
	.header__body {
		padding: 0em clamp(1.25em, 3vw, 2.5em) 0;
	}


}

@media(max-width: 600px) {

	.btn__body {
		display: none;
	}

	.lang_wrapper {
		display: none;
	}

	.lang_wrapper:global(.active) {
		display: block;
	}
}


@media(max-width: 1439px) {
	.navigation__body {
		display: none;
	}
}