.footer {
	background-color: var(--acc-main-green);
	color: var(--tx-wh);
}

.footer__body {
	display: flex;
	justify-content: space-between;
	align-items: start;
	padding: 3.75em 6.25em 3.75em 6.25em;
	width: 100%;
	max-inline-size: 1920px;
	margin: 0 auto;

}

.footer__body :global(.contact__name) {
	display: none;
}

.footer__info {
	flex: 0 1 219px;
	display: flex;
	flex-direction: column;
	row-gap: 3.75em;
}

.footer__content {
	flex: 0 1 1190px;
	display: flex;
	flex-direction: column;
	row-gap: 110.5px;
	position: relative;
}

.number {
	font-size: 28px;
	line-height: 100%;
	font-weight: 500;
}

.footer__content_body {
	display: flex;
	flex-direction: column;
	flex: 1 1 295px;
	justify-content: space-between;
}

.footer__info_block {
	display: flex;
	flex-direction: column;
	row-gap: 24px;
	flex: 0 0 328px;
}



.footer__address {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.footer__name {
	text-transform: uppercase;
	font-weight: 400;
	line-height: 100%;
	color: #D9D9D980;
}

.address {
	font-size: 24px;
	font-weight: 500;
	line-height: 110%;
	margin-bottom: 20px;
}

.footer__text {
	display: flex;
	align-items: start;
	justify-content: space-between;
	column-gap: 13px;
}

.footer__text svg {
	width: 100%;
	height: 100%;
}

.footer__text span {
	font-weight: 400;
	text-transform: uppercase;
	display: flex;
	flex: 0 0 100px;
	align-self: start;
}

.footer__roots {
	text-transform: uppercase;
	font-size: 14px;
	line-height: 120%;
	vertical-align: middle;
	max-width: 154px;
	color: #D9D9D980;
}

.arrow__up {}

.get__directions {
	width: 100%;
	max-width: 190px;
	border-radius: 30px;
	border: 1px solid var(--tx-wh);
	padding: 16px 33px;
	text-transform: uppercase;
	color: currentColor;
	font-size: 15px;
	line-height: 120%;
	transition: background-color 2.5s ease, border 0.5s ease;
	overflow: hidden;
	cursor: pointer;
	position: relative;
	z-index: 2;
}

.footer_title {
	font-size: 13rem;
	text-transform: uppercase;
	font-weight: 300;
	font-family: 'Celine Sans', sans-serif;
}

@media(max-width: 1920px) {
	.footer_title {
		font-size: clamp(3.625rem, -0.235rem + 11.029vi, 13rem);
	}
}

@media(max-width: 1210px) {
	.footer_title {
		font-size: clamp(3.625rem, 0.017rem + 8.308vi, 7.813rem)
	}
}

.get__directions span {
	position: relative;
	z-index: 3;
	color: var(--tx-wh);
	font-weight: 400;
	transition: color .5s ease;
}

.get__directions::after {
	content: "";
	display: block;
	position: absolute;
	z-index: 1;
	width: 0;
	height: 0;
	top: 50%;
	left: 50%;
	border-radius: 100%;
	background-color: black;
	transform: translate(-50%, -50%);
	transition: width .4s ease, height .6s ease;
	filter: invert(1);
}

@media (hover: hover) {

	.get__directions:hover::after {
		width: 200%;
		height: 250%;
		transition: width 1s ease, height .5s ease;
	}

	.get__directions:hover {
		border: 1px solid var(--acc-main-green-btn);
	}

	.get__directions:hover span {
		color: var(--acc-main-green-btn);

	}

}

.arrow__up {
	position: relative;
	border-radius: 100%;
	background-color: transparent;

	transition: background-color .3s ease;
}

.arrow__up::after {
	content: '';
	position: absolute;
	top: 0;
	display: block;
	left: 0;
	border-radius: 100%;
	width: 80px;
	height: 80px;
	background-color: transparent;
	z-index: 1;
	border: 1px solid var(--bg-beige);
}

.arrow_up_body {
	display: flex;
	justify-content: end;
	position: absolute;
	bottom: 0;
	right: 0;
	cursor: pointer;
}

.arrow__up:hover {
	background-color: var(--bg-beige);
	border-color: var(--acc-main-green);
}

.arrow__up:hover path {
	stroke: var(--acc-main-green);
}

@media (min-width: 1440px) and (max-width: 1920px) {
	.footer__body {
		padding:
			clamp(3.125em, calc(6em - 3vw), 3.75em) clamp(5em, calc(7em - 2vw), 6.25em) 3.75em clamp(5em, calc(7em - 2vw), 6.25em);
	}
}

@media (min-width: 1024px) and (max-width: 1439px) {
	.footer__body {
		padding: 3.75em clamp(2.5em, 5vw, 3.125em) 4.375em clamp(2.5em, 5vw, 3.125em);
	}

}

@media(max-width: 1000px) {
	.footer__text {
		flex-direction: column-reverse;
		justify-content: end;
		align-items: end;
	}

	.footer__text span {
		width: 100%;
		justify-content: end;
	}

	.footer_title {
		font-size: clamp(3.625rem, 0.017rem + 9.308vi, 7.813rem)
	}
}

@media (min-width: 768px) and (max-width: 1023px) {
	.footer__body {
		padding: 6.25em clamp(1.25em, 5vw, 2.5em) 0;
	}
}

@media(max-width: 768px) {
	.footer__body {
		padding: 2.25em 1.25em;
		flex-direction: column;
		position: relative;
		row-gap: 34px;
	}

	.footer__info_block {
		flex: 1 1 auto;
	}

	.contact__info {
		flex: 1 1 auto;
	}

	.footer__content {
		flex: 1 1 100%;
		position: static;
	}


	.arrow__up {
		top: -26vh;
		right: 20px;
	}

	.footer__text {
		flex-direction: column;
		text-align: right;
		row-gap: 10px;
	}

	.footer__text span {
		flex: 1 1 auto;
		width: 100%;
		justify-content: end;
	}

	.footer__roots {
		max-width: 100%
	}

	.footer__content_body {
		flex: 1;
		row-gap: 14px;
	}


}