.apartament__filter {
	max-inline-size: 1920px;
	padding: 0em 6.25em;
	margin: 0 auto;
	padding-top: 49px;
	display: flex;
	flex-direction: column;
	row-gap: 56px;
}

.list {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap: 60px;
}

.list ul {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}

.apart__card {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	padding: 30px;
	cursor: pointer;
	padding-bottom: 50px;
	transition: outline .5s ease;
	outline: 1px solid transparent;
}

.apart__card_content {
	display: flex;
	flex-direction: column;
	row-gap: 22px;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 380px;
	height: auto;
	justify-content: space-between;
}

.apart__card_content img {
	flex: 0;
}

.apart__card_info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.info_name {
	font-size: 24px;
	text-transform: uppercase;
	align-self: start;
	font-weight: 400;
}

.info_area {
	font-size: 20px;
	font-weight: 500;
}

.info_floor {
	text-transform: lowercase;
	font-size: 16px;
	font-weight: 400;
}

.info__card_descr {
	display: flex;
	flex-direction: column;
	row-gap: 6px;
	justify-content: start;
}

.card_img_block {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.card_img {
	width: 100%;
	max-width: 337px;
	height: auto;
	max-height: 310px;
	object-fit: contain;
	object-position: center;
	transition: transform .5s ease;

}

.show_more_btn {
	padding: 18px 0px;
	width: 100%;
	max-width: 220px;
	text-transform: uppercase;
	color: var(--acc-main-green);
	border-radius: 30px;
	font-weight: 500;
	font-size: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid var(--acc-main-green);
}


.show_more_btn {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--acc-main-green);
	border: 1px solid var(--acc-main-green);
	border-radius: 30px;
	width: 100%;
	height: 100%;
	min-width: 234px;
	height: 46px;
	position: relative;
	transition: background-color 2.5s ease;
	overflow: hidden;
	cursor: pointer;
}

.show_more_btn span {
	position: relative;
	z-index: 2;
	font-weight: 500;
	color: var(--acc-main-green);
	transition: color .7s ease;
}

.view_item_floor span {
	position: relative;
	transition: color .5s ease;
	z-index: 2;
}

.show_more_btn::after,
.view_item_floor::after {
	content: "";
	display: block;
	position: absolute;
	z-index: 1;
	width: 0;
	height: 0;
	top: 50%;
	left: 50%;
	border-radius: 100%;
	background-color: var(--acc-main-green-btn);
	transform: translate(-50%, -50%);
	transition: width .4s ease, height .6s ease;
}

.apartments_filter_block {
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 86px;
}

.apartments_filter_content {
	display: flex;
	align-items: center;
	justify-content: end;
	column-gap: 80px;
	width: 100%;
	max-width: 1198px;
}

.filter_reset {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 6px;
	position: relative;
	overflow: hidden;
	padding: 12px 22px;
	width: 100%;
	max-width: 120px;
	border-radius: 30px;
	color: var(--acc-main-green);
	outline: 1px solid var(--acc-main-green);
	cursor: pointer;
}

.filter_reset svg {
	position: relative;
	z-index: 2;
}

.filter_reset svg path {
	transition: stroke .5s ease;
}

.reset_span_txt {
	transition: color .3s ease;
	position: relative;
	z-index: 2;
}

.filter_reset::after {
	content: "";
	display: block;
	position: absolute;
	z-index: 1;
	width: 0;
	height: 0;
	top: 50%;
	left: 50%;
	border-radius: 100%;
	background-color: var(--acc-main-green-btn);
	transform: translate(-50%, -50%);
	transition: width .4s ease, height .6s ease;
}



.filter_reset span {
	font-weight: 500;
}



.apartmet_section_list {
	list-style-type: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	max-width: 190px;
	column-gap: 10px;
}

.apartmet_section_list li {
	width: 40px;
	height: 40px;
	border-radius: 100%;
	outline: 1px solid var(--tx-bl-50);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	color: var(--acc-main-green-btn);
	background-color: transparent;
	cursor: pointer;
	font-weight: 400;
	transition: color .5s ease, background-color .5s ease, outline .5s ease;
}

.apartmet_section_list li:global(.active) {
	background-color: var(--acc-main-green-btn);
	color: var(--tx-wh);
	outline: 1px solid var(--acc-main-green-btn)
}

.apartment_view_list {
	list-style-type: none;
	display: flex;
	outline: 1px solid var(--acc-main-green-btn);

	border-radius: 30px;
	overflow: hidden;
}

.apartments_filter_view {
	width: 100%;
	max-width: 315px;
	flex: 0 0 315px;
}

.apartment_view_list li {
	padding: 16px 8px;
	text-transform: uppercase;
	font-size: 16px;

	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	z-index: 2;
	color: var(--acc-main-green-btn);
	transition: color .5s ease;
}

.view_item_grid {
	flex: 1 1 150px;
	width: 100%;
	max-width: 150px;
}

.view_item_floor {

	width: 100%;
	text-transform: uppercase;

	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 6px;
	position: relative;
	overflow: hidden;
	padding: 12px 22px;
	border-radius: 30px;
	color: var(--acc-main-green);
	outline: 1px solid var(--acc-main-green);
	cursor: pointer;
}

.view_item_grid::after {
	content: '';
	width: 0%;
	position: absolute;
	z-index: -1;
	top: 0;
	right: 0;
	height: 100%;
	background-color: var(--acc-main-green-btn);
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	transition: width .5s ease;
}

.apartment_view_list li:global(.active) {
	color: var(--tx-wh);
}

.apartment_view_list li:global(.active)::after {
	content: '';
	width: 100%;
}

.apartmet_section_list {
	display: flex;
	column-gap: 10px;
}

.apartment_section {
	display: flex;
	flex-direction: column;
	row-gap: 14px;
	align-items: start;
	justify-content: start;
}

.apartment_floor,
.apartment_area {
	display: flex;
	flex-direction: column;
	flex: 1 1 317px;
	align-self: start;
	row-gap: 24px;

	width: 100%;
	max-width: 317px;
}

.apartmets_list_block {
	display: flex;
	flex-direction: column;
	row-gap: 26px;

}

.apartmets_list_block ul {
	list-style-type: none;
}

.apartment_label_block {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.apartment_label {
	font-size: 16px;
	font-weight: 500;
	line-height: 100%;
}

.dropdown {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: start;
	column-gap: 8px;
	align-self: start;
	width: 100%;
	max-width: 280px;
}

.dropdownToggle {
	padding: 0px;
	cursor: pointer;
	font-weight: 500;
	color: var(--acc-main-green);
}

.sort_list_block {
	display: flex;
	align-items: center;
	flex-direction: row;
}

.sort_list_block svg {
	transition: transform .5s ease;
}

.sort_list_block.open svg {
	transform: rotate(180deg);
}

.dropdownMenu {
	position: absolute;
	top: 150%;
	left: 0;
	z-index: 10;
	background-color: white;
	border-radius: 8px;
	list-style: none;
	padding: 0;
	width: 100%;
	overflow: hidden;
	max-height: 0;
	transition: max-height 0.4s ease, opacity 0.3s ease, transform 0.3s ease;
}


.dropdownMenu.open {
	max-height: 500px;
}

.dropdownMenu li {
	padding: 10px 16px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.dropdownMenu li:hover {
	background-color: var(--acc-main-green-btn);
	color: white;
}




@media(hover:hover) {
	.apart__card:hover {
		outline: 1px solid var(--acc-main-green-btn);
	}

	.apart__card:hover img {
		transform: scale(.9);
	}

	.show_more_btn:hover::after {
		width: 200%;
		height: 250%;
		transition: width 1s ease, height .5s ease;
	}

	.show_more_btn:hover span,
	.view_item_floor:hover span {
		color: var(--tx-wh);
		transition: color .5s ease;
	}

	.show_more_btn:hover {
		border: 1px solid var(--acc-main-green);
	}

	.filter_reset:hover::after,
	.view_item_floor:hover::after {
		width: 200%;
		height: 250%;
		transition: width 1s ease, height .5s ease;
	}

	.filter_reset:hover .reset_span_txt {
		color: var(--tx-wh);
		transition: color .5s ease;
	}

	.filter_reset:hover svg path {
		stroke: var(--tx-wh);
	}

	.filter_reset:hover {
		outline: 1px solid var(--acc-main-green);
	}

	.apartmet_section_list li:hover {
		background-color: var(--acc-main-green-btn);
		color: var(--tx-wh);
		outline: 1px solid var(--acc-main-green-btn)
	}


}

@media(max-width: 1920px) {
	.apart__card_content {
		flex-basis: clamp(20rem, 8.75rem + 12.5vi, 23.75rem)
	}

	.apart__card {
		padding: clamp(1.5rem, 0.375rem + 1.25vi, 1.875rem);
	}

	.apartament__filter {
		padding: 57px clamp(5rem, 1.25rem + 4.167vi, 6.25rem) 0px clamp(5rem, 1.25rem + 4.167vi, 6.25rem);
	}

	.apartments_filter_content {
		column-gap: clamp(2.5rem, -5rem + 8.333vi, 5rem);
	}
}

@media(max-width: 1440px) {

	.apartament__filter {
		padding: 50px clamp(2.5rem, -3.654rem + 9.615vi, 5rem) 0px clamp(2.5rem, -3.654rem + 9.615vi, 5rem);
		row-gap: clamp(1.75rem, 1.325rem + 2vi, 3.125rem);
	}

	.card_img {
		max-height: 290px;
	}

	.list {
		row-gap: clamp(2.5rem, -0.577rem + 4.808vi, 3.75rem);
	}
}

@media(max-width: 1370px) {
	.apartments_filter_block {
		flex-direction: column;
		row-gap: 30px;
	}

	.apartments_filter_view {
		flex: 1 1 auto;
	}

	.apartments_filter_content {
		justify-content: space-between;
	}
}

@media(max-width: 1200px) {
	.list ul {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media(max-width: 1024px) {
	.apartament__filter {
		padding: 57px clamp(1.25rem, -2.5rem + 7.813vi, 2.5rem) 0px clamp(1.25rem, -2.5rem + 7.813vi, 2.5rem);
	}

	.list ul {
		gap: clamp(0.625rem, -1.25rem + 3.906vi, 1.25rem);
	}

	.info_name {
		font-size: clamp(1.375rem, 1rem + 0.781vi, 1.5rem);
	}

	.info_area {
		font-size: clamp(1.125rem, 0.75rem + 0.781vi, 1.25rem);
	}

	.reset_span_txt {
		display: none;
	}

	.filter_reset {
		padding: 10px;
	}
}

@media(max-width: 768px) {
	.apart__card {
		padding: clamp(0.875rem, 0.379rem + 2.336vi, 1.5rem);
	}

	.reset_span_txt {
		display: block;

	}

	.card_img {
		max-height: clamp(14rem, 2.894rem + 31.731vi, 18.125rem);
	}

	.apartmets_list_block {
		row-gap: clamp(1rem, 0.504rem + 2.336vi, 1.625rem);
	}

	.dropdown {
		font-size: 15px;
	}

	.filter_reset {
		padding: 10px 22px;
	}

	.apartments_filter_content {
		flex-direction: column;
		align-items: start;
		justify-content: start;
		row-gap: 24px;
	}

	.apartment_floor,
	.apartment_area {
		flex: 1 1 100%;
		max-width: 100%;
	}

	.info_name {
		font-size: clamp(1.25rem, 1.095rem + 0.583vi, 1.375rem);
	}

	.info_area {
		font-size: clamp(1rem, 0.845rem + 0.583vi, 1.125rem);
	}

	.info_floor {
		font-size: clamp(0.875rem, 0.72rem + 0.583vi, 1rem);
	}

	.apart__card_content {
		flex-basis: clamp(15.375rem, 7.729rem + 35.981vi, 25rem);
	}

	.list {
		row-gap: clamp(2.5rem, 2.054rem + 2.232vi, 3.125rem);
	}
}

@media(max-width: 560px) {
	.apartment_label {
		font-size: 15px;
	}
}

@media(max-width: 700px) {
	.list ul {
		grid-template-columns: repeat(1, 1fr);
	}

	.apartment_view_list li {
		font-size: 15px;
	}

}

@media(max-width: 425px) {
	.info_name {
		font-size: clamp(1.125rem, 0.625rem + 2.353vi, 1.25rem);
	}
}

.apartment_floor {
	position: relative;
	width: 100%;
}


:global(.floor-slider) :global(.rc-slider-rail) {
	background-color: #ccc;
	height: 2px;
}

:global(.floor-slider) :global(.rc-slider-track) {
	background-color: var(--acc-main-green-btn);
	height: 2px;
}

:global(.floor-slider) :global(.rc-slider-handle) {
	border-color: var(--acc-main-green-btn);
	background-color: var(--acc-main-green-btn);
	width: 20px;
	height: 20px;
	opacity: 1;
	margin-top: -9px;
}

:global(.floor-slider) :global(.rc-slider-step) {
	height: 2px;
}