.dnone {
	display: none;
}

.form {
	display: flex;
	flex-direction: column;
	width: 100%;

	&_container {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 30px;

		&[data-animation="true"] {
			animation: exit 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
		}

		&[data-animation-enter="true"] {
			animation: enter 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
		}
	}

	&_title {
		font-weight: 700;
		font-size: 14px;
		text-align: center;
		text-transform: uppercase;
		color: #000000;
		margin-bottom: 30px;
	}

	&_button {
		margin-top: 20px;
		width: 300px;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #985ACE;
		border-radius: 7px;
		cursor: pointer;
		border: none;
		font-weight: 700;
		font-size: 12px;
		line-height: 140%;
		text-transform: uppercase;
		color: #FFFFFF;

		&:focus {
			outline: none;
		}

	}
}

.input_container::after {
	content: '';
	display: flex;
	left: 0;
	bottom: 0;
	position: absolute;
	width: 0%;
	height: 1.5px;
	background-color: var(--acc-main-green);
	transition: all .5s ease;
}

.input_container {
	gap: 5px;
	position: relative;
}

.input_container:has(.input:focus)::after {
	content: '';
	display: flex;
	left: 0;
	bottom: 0;
	position: absolute;
	width: 100%;
	transition: all .5s ease;
	height: 1.5px;
	background-color: var(--acc-main-green);
}

.input {
	width: 100%;
	min-height: 52px;
	font-weight: 300;
	background-color: transparent;
	border: none;
	position: relative;
	border-bottom: 1px solid var(--inpt-br);

	&:not([value=""]):not(:focus)~.input_placeholder {
		bottom: 45px;
		left: 0px;
		font-size: 15px;
	}



	&:focus {
		outline: none;
	}

	&:invalid:not([required])+&_error {
		display: block;

	}

	&[data-error="true"],
	&:invalid:not([required]).input {
		border-bottom: 1px solid red;
	}

	&_container {
		position: relative;
		display: flex;
		flex-direction: column-reverse;

		&:focus-within .input_placeholder {
			bottom: 45px;
			left: 0px;
			font-size: 15px;
		}
	}

	&_placeholder {
		position: absolute;
		bottom: 17px;
		left: 0px;
		font-weight: 300;
		font-size: 1.125em;
		line-height: 140%;
		color: var(--inpt-tx);
		transition: all ease-in-out 0.3s;
	}

	&_error {
		display: none;
		margin-left: 10px;
		color: rgba(244, 28, 54, 1);
		margin-bottom: 5px;
		font-size: 12px;
		position: absolute;
		bottom: -25px;

		&[data-error="true"] {
			display: block;
		}
	}
}

.form__text {
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
}

.personal__block {
	display: flex;
	flex-direction: column-reverse;
	row-gap: 24px;
	margin-top: 40px;
}

.content__personal {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.text__personal {
	max-width: 315px;
	display: inline-block;
	line-height: 110%;
	color: var(--tx-bl-50);
}



.link__personal {
	display: inline-block;
	text-decoration: none;
	margin-left: 3px;
	color: var(--acc-main-green);
	text-decoration: underline;
}

.input_placeholder {
	font-size: clamp(1em, 3vw, 1.125em);
}

.content__personal {

	margin-top: 2px;
}

.text__personal {
	font-size: clamp(0.75em, 3vw, 1em);
}

.input_container:focus-within .input_placeholder {
	font-size: 10px;
}

.form_container {
	gap: 20px;
}


@media (min-width: 1024px) and (max-width: 1439px) {
	.personal__block {
		row-gap: clamp(0.875rem, -0.663rem + 2.404vi, 1.5rem);
		margin-top: 20px;
	}
}

@media (min-width: 768px) and (max-width: 1023px) {

	.personal__block {
		row-gap: 13px;
		margin-top: 20px;
	}
}



@media(max-width: 767.99px) {
	.input {
		&:not([value=""]):not(:focus)~.input_placeholder {
			bottom: 45px;
			left: 0px;
			font-size: 12px;
		}

		&_container {
			position: relative;
			display: flex;
			flex-direction: column-reverse;
			font-size: 15px;


			&:focus-within .input_placeholder {
				bottom: 25px;
				left: 0px;
				font-size: 12px;
			}
		}
	}

	.personal__block {
		row-gap: clamp(0.563rem, 0.165rem + 1.479vi, 0.875rem);
		margin-top: clamp(0.5rem, -0.454rem + 3.55vi, 1.25rem);
	}
}

@media(max-width: 540px) {
	.content__personal {
		max-width: 100%;

	}

	.text__personal {
		max-width: 250px;
	}
}

@keyframes color-change-2x {
	0% {
		background: #19dcea;
	}

	100% {
		background: #b22cff;
	}
}